<!-- <center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center> -->
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [ ]:
(male, female) = data.sex.value_counts()
print(f'There are {male} men and {female} women.')

There are 21790 men and 10771 women.

**2. Каков средний возраст (признак *age*) женщин?**

In [ ]:
avg_female_age = int(round(data[data.sex == 'Female'].age.mean(), 0))
print(f"Average age of females in database is {avg_female_age} years old.")

Average age of females in database is 37 years old.

**3. Какова доля граждан Германии (признак *native-country*)?**

In [ ]:
percentage = round(len(data[data['native-country'] == 'Germany']) / len(data) * 100, 1)
print(f"It's {percentage}% of Germany citizens in database.")

It's 0.4% of Germany citizens in database.

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?**

In [ ]:
lts = data[data.salary == '<=50K']
a_s = lts.age.describe().round()

In [ ]:
print(f"{int(a_s['mean'])} is an average age for ones earning more than 50K.")

37 is an average age for ones earning more than 50K.

In [ ]:
print(f"An age standard deviation for 50K earners is {int(a_s['std'])}.")

An age standard deviation for 50K earners is 14.

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
he = pd.Series([
    'Bachelors',
    'Prof-school',
    'Assoc-acdm',
    'Assoc-voc',
    'Masters',
    'Doctorate',
])

hse = pd.Series(data[data.salary == ">50K"].education.unique())
percent = int(len(hse[~hse.isin(he)]) / len(hse) * 100)

print(f"It's not quite like that. It seems only {percent}% of people earn >50K are higher educated.")

It's not quite like that. It seems only 60% of people earn >50K are higher educated.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [ ]:
race_age_stats = data.groupby(['race', 'sex'])['age'].describe()

In [ ]:
race_age_stats

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [ ]:
eldest_amer_indian = int(race_age_stats.loc[('Amer-Indian-Eskimo', 'Male'), 'max'])
print(f'The eldest Amer Indian Eskimo is {eldest_amer_indian} years old.')

The eldest Amer Indian Eskimo is 82 years old.

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
data['married'] = data['marital-status'].str.startswith('Married')
grouped = data[data.sex == 'Male'].groupby('married')['salary'].value_counts(normalize=True)

mrt_avg = grouped[:, '>50K'].idxmax()
msg = 'are' if mrt_avg else "aren't"

print(f'Married men {msg} richer than average.')

Married men are richer than average.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
max_hpw = data['hours-per-week'].max()
print(f'The largest amount of working hours per week is {max_hpw} hours.')

The largest amount of working hours per week is 99 hours.

In [ ]:
max_hpw_emp = data[data['hours-per-week'] == max_hpw]
print(f'Amount of workers with the largest amount of working hours per week is {len(max_hpw_emp)}.')

Amount of workers with the largest amount of working hours per week is 85.

In [ ]:
percent = int(round(max_hpw_emp.salary.value_counts(normalize=True)['>50K'] * 100, 0))
print(f'There are {percent}% >50K earners among\'em.')

There are 29% >50K earners among'em.

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
data.groupby(['native-country', 'salary'])['hours-per-week'].mean().round().convert_dtypes(int)

native-country  salary
?               <=50K     40
                >50K      46
Cambodia        <=50K     41
                >50K      40
Canada          <=50K     38
                          ..
United-States   >50K      46
Vietnam         <=50K     37
                >50K      39
Yugoslavia      <=50K     42
                >50K      50
Name: hours-per-week, Length: 82, dtype: Int64

**11. Додаткове завдання. Знайти відсоткову кількість тих діяльностей, які заробляють більше 50К і зіставити це з кількістю годин за тиждень**

In [24]:
exc = data.where(data.salary == '>50K').workclass.unique()[1:]
rich = data[data.salary == '>50K'].groupby('workclass').workclass.value_counts()
total = data.groupby('workclass').workclass.value_counts()[exc]
percent_rich = round(rich / total * 100, 2)
percent_rich_str = percent_rich.apply(lambda value: f'{value}%')
hours_week = data[data.salary == '>50K'].groupby('workclass')['hours-per-week'].mean().round().convert_dtypes(int)
hours_week_str = hours_week.apply(lambda value: f'{value} hours')

result = pd.DataFrame(hours_week).join(pd.DataFrame(percent_rich)).drop('?')

result_str = pd.DataFrame(hours_week_str).join(pd.DataFrame(percent_rich_str)).drop('?')
result_str = result_str.rename(columns={'hours-per-week': 'hours per week', 'count': 'percent of rich'})
result_str
# У vscode такої проблеми не має і повертається лише одна колонка з ключами

                                  hours per week workclass
workclass        workclass
Federal-gov      Federal-gov            43 hours    38.65%
Local-gov        Local-gov              44 hours    29.48%
Private          Private                46 hours    21.87%
Self-emp-inc     Self-emp-inc           50 hours    55.73%
Self-emp-not-inc Self-emp-not-inc       47 hours    28.49%
State-gov        State-gov              44 hours     27.2%

In [18]:
# Percent of well paid in relation to the number of hours worked
percent_per_hour = result.apply(lambda element: round(element["workclass"] / element["hours-per-week"], 2), axis=1)
percent_per_hour

workclass         workclass
Federal-gov       Federal-gov         0.90
Local-gov         Local-gov           0.67
Private           Private             0.48
Self-emp-inc      Self-emp-inc        1.11
Self-emp-not-inc  Self-emp-not-inc    0.61
State-gov         State-gov           0.62
dtype: float64

In [23]:
# the largest number of percentages in relation to the number of working hours
min_value = percent_per_hour.max()
min_key = percent_per_hour[percent_per_hour == min_value].keys()[0][0] # У vscode такої проблеми не має і повертається лише одна колонка з ключами
print(f"Best paid occupation seems to be \"{min_key.replace('-', ' ')}\" with {min_value}% per hour.")

Best paid occupation seems to be "Self emp inc" with 1.11% per hour.

**12. Додаткове завдання 2. Знайти кореляцію між вищою освітою та походженням.**

In [51]:
# correlation between place of residence and the percentage of residents with higher education

he = pd.Series([
    'Bachelors',
    'Prof-school',
    'Assoc-acdm',
    'Assoc-voc',
    'Masters',
    'Doctorate',
])

total = data.groupby('native-country')['native-country'].value_counts()
educated = data[data.education.isin(he)].groupby('native-country')['native-country'].value_counts()

percent_educated = round(educated / total * 100, 2)
percent_educated = percent_educated[percent_educated.notna()].drop('?')

res = pd.DataFrame(percent_educated)
res.rename(columns={'native-country': 'percent of educated'})
# У vscode такої проблеми не має і повертається лише одна колонка з ключами

                                                       percent of educated
native-country             native-country
Cambodia                   Cambodia                                  15.79
Canada                     Canada                                    41.32
China                      China                                     56.00
Columbia                   Columbia                                  28.81
Cuba                       Cuba                                      33.68
Dominican-Republic         Dominican-Republic                         8.57
Ecuador                    Ecuador                                   21.43
El-Salvador                El-Salvador                               12.26
England                    England                                   50.00
France                     France                                    68.97
Germany                    Germany                                   46.72
Greece                     Greece                                    34.48
Guatemala                  Guatemala                                  3.12
Haiti                      Haiti                                     20.45
Honduras                   Honduras                                  15.38
Hong                       Hong                                      55.00
Hungary                    Hungary                                   46.15
India                      India                                     74.00
Iran                       Iran                                      69.77
Ireland                    Ireland                                   33.33
Italy                      Italy                                     31.51
Jamaica                    Jamaica                                   25.93
Japan                      Japan                                     53.23
Laos                       Laos                                      22.22
Mexico                     Mexico                                     7.62
Nicaragua                  Nicaragua                                 14.71
Outlying-US(Guam-USVI-etc) Outlying-US(Guam-USVI-etc)                28.57
Peru                       Peru                                      19.35
Philippines                Philippines                               52.53
Poland                     Poland                                    35.00
Portugal                   Portugal                                  16.22
Puerto-Rico                Puerto-Rico                               14.91
Scotland                   Scotland                                  25.00
South                      South                                     43.75
Taiwan                     Taiwan                                    84.31
Thailand                   Thailand                                  44.44
Trinadad&Tobago            Trinadad&Tobago                           10.53
United-States              United-States                             32.20
Vietnam                    Vietnam                                   28.36
Yugoslavia                 Yugoslavia                                43.75

In [35]:
# place of residence with the highest number of people with higher education
max_key = percent_educated.idxmax()
max_value = percent_educated[max_key]
print(f'{max_key[0]} has {max_value}% of educated citizens. This seems to be the best result.')

Taiwan has 84.31% of educated citizens. This seems to be the best result.

In [36]:
# place of residence with the lowest number of people with higher education
min_key = percent_educated.idxmin()
min_value = percent_educated[min_key]
print(f'{min_key[0]} has {min_value}% of educated citizens. This seems to be the worst result.')

Guatemala has 3.12% of educated citizens. This seems to be the worst result.